<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Closet Database</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Playfair+Display:400,900i&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/hosted/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <div id="notFound">
    <h1>404 - Not found!</h1>
    <h3>Something went horrifically wrong here.</h3>
  </div>
</body>

</html>